@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $greyWhite;
  background-color: $black;
  font-family: $nunito;
}

#popup {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 1rem;
  }

  code {
    padding: 3px 4px;
    background-color: #b00020;
    border-radius: 3px;
  }

  a {
    outline: none;
    color: #b00020;
    font-weight: bold;
    text-decoration: none;
  }
}
